<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <style>
  </style>
  </head>
  <body>
    <h2>Here are your daily updates for {{tournamentName}} round: {{round}}</h2>
    {{#each matches}}
      {{#if dateDivider}}
        <h4>{{dateDivider}}</h4>
      {{else}}
        <p>
          <span>{{localTime}}</span>
          <span>{{player1.name}}</span>
          <span>vs</span>
          <span>{{player2.name}}</span>
        </p>
      {{/if}}
    {{/each}}
    <br />
    <p>your timezone is {{timeZoneLocationString}}</p>
  </body>
</html>